.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin: 1rem;
    margin-inline: auto;
    border: 1px solid red;
}

.container--rounded {
    border-radius: 3%;
}