//colors
$clr-primary: hsl(212, 45%, 89%);

$clr-neutral-900: hsl(218, 44%, 22%);
$clr-neutral-200: hsl(220, 15%, 55%);
$clr-neutral-100: hsl(0, 0%, 100%);

//font-family
$ff-primary: 'Outfit', sans-serif;

//font-weight
$fw-400: 400;
$fw-700: 700;

//font-size
$fs-paragraph: 15px;